#search-character-container {
    margin: 2% auto;
    border: none;
    padding: 0 0 2% 5%;
    text-align: left;
    width: 70%;

    input {
        margin: 0 auto;
        width: 45%;
        line-height: 3em;
        font-size: 1.5em;
        text-align: center;
        color: $dark-blue;
        box-shadow: 5px 5px 5px $dark-blue;
        border-radius: 35% 35%;
        @include tablet {
          width: 70%;
        }

        &:focus {
            outline-color: $dark-blue;
            outline-width: medium;
        }
    }
}

#results-character-container {
    text-align: center;
    padding: 1%;
    line-height: 2em;
    font-size: 1.5em;

    h2 {
        font-size: 2.25em;
        line-height: 2.5em;
        text-shadow: 2px 3px 5px $med-blue;
    }

    ul p {
        text-decoration: underline;
        font-size: 1.25em;
        padding-top: 1%;
        text-shadow: 1px 2px 4px $med-blue;
    }

    li {
        text-decoration: none;
        font-size: 1em;
    }
}
