header {
    background: url('images/a-land-of-ice-and-fire-571-cropped.jpg'), linear-gradient(to right, $med-blue, $med-green, $dark-blue);
    background-repeat: no-repeat;
    height: 252px;
    background-size: cover;
    @include small-tablet {
        background-attachment: fixed;
    }
}

hero {
    text-align: center;
    @include mobile {
        position: relative;
    }

    h1 {
        font-size: 3em;
        color: $dark-blue;
        text-shadow: -6px -5px 6px $lightgrey;
        margin-left: 1%;
        padding-top: 1%;
        @include tablet {
            color: $dark-blue;
            text-shadow: -6px -5px 6px $dark-blue;
        }
    }
}

nav {
    font-size: 2em;
    position: relative;
    margin-right: 1%;
    @include tablet {
        width: 100%;
    }
    @include small-tablet {
        top: -165px;
    }
    @include mobile {
      position: absolute;
      top: 37vh;
      left: 31vw;    }

    ul {
        float: right;
        position: relative;
        top: -65px;
        @include tablet {
            top: 61px;
            display: inline-flex;
            width: 100%;
        }
        @include small-tablet {
            display: block;
            font-size: 0.8em;
            top: 25vh;
        }

        li {
            margin: 12% 5%;
            text-align: right;
            @include tablet {
                margin: 5%;
                text-align: center;
            }
            @include mobile {
                text-align: center;
            }

            a {
                color: $dark-blue;
                text-shadow: -2px -2px 2px $lightgrey;
                @include tablet {
                    color: $dark-blue;
                    text-shadow: -2px -2px 2px $lightgrey;
                }

                &:focus {
                    color: $lightgrey;
                    text-shadow: -2px -2px 2px $dark-blue;
                    @include tablet {
                        color: $lightgrey;
                        text-shadow: 2px -2px 2px $dark-blue;
                    }
                }
            }
        }
    }
}
