main {
  @include mobile {
    margin: 50vh 5vw;
    padding: 0vh 3vw 2vh;  }
}

#top {
    h2 {
        text-align: center;
        font-size: 1.5em;
        margin: 2%;
    }
}

#bottom {
    p {
        text-align: center;
        font-size: 1.25em;
        line-height: 1.75em;
    }
}
