#search-for-houses-container {
    text-align: center;
    margin: 0 auto;
    border: none;
    width: 100%;
    display: inline-block;

    p {
      text-align: center;
      margin: 0% 0% 2% 0%;
      font-size: 1.9em;
    }

    #regions {
        margin: 1% -30%;
        width: 28%;
        font-size: 1.5em;
        text-align: center;
        color: $dark-blue;
        outline-color: $dark-blue;
    }
}

#house-list {
  display: block;
    margin: 1%;
    font-size: 1.5em;
    text-align: center;
    p {
      margin: 1%;
    }
}
