header {
  background: url("images/a-land-of-ice-and-fire-571-cropped.jpg"), linear-gradient(to right, #446087, #c4d48e, #4c5679);
  background-repeat: no-repeat;
  height: 252px;
  background-size: cover; }
  @media only screen and (min-width: 573px) and (max-width: 658px) {
    header {
      background-attachment: fixed; } }

hero {
  text-align: center; }
  @media only screen and (min-width: 200px) and (max-width: 572px) {
    hero {
      position: relative; } }
  hero h1 {
    font-size: 3em;
    color: #4c5679;
    text-shadow: -6px -5px 6px #939194;
    margin: 0% 13% 0% 1%;
    padding-top: 1%; }
    @media only screen and (min-width: 572px) and (max-width: 890px) {
      hero h1 {
        color: #4c5679;
        text-shadow: -6px -5px 6px #4c5679; } }

nav {
  font-size: 2em;
  position: relative;
  margin-right: 6%; }
  @media only screen and (min-width: 572px) and (max-width: 890px) {
    nav {
      width: 100%; } }
  @media only screen and (min-width: 573px) and (max-width: 658px) {
    nav {
      top: -165px; } }
  @media only screen and (min-width: 200px) and (max-width: 572px) {
    nav {
      position: absolute;
      top: 37vh;
      left: 31vw; } }
  nav ul {
    float: right;
    position: relative;
    top: -65px; }
    @media only screen and (min-width: 572px) and (max-width: 890px) {
      nav ul {
        top: 61px;
        display: inline-flex;
        width: 100%; } }
    @media only screen and (min-width: 573px) and (max-width: 658px) {
      nav ul {
        display: block;
        font-size: 0.8em;
        top: 25vh; } }
    @media only screen and (min-width: 200px) and (max-width: 572px) {
      nav ul {
        top: -10vh; } }
    nav ul li {
      margin: 12% 5%;
      text-align: right; }
      @media only screen and (min-width: 572px) and (max-width: 890px) {
        nav ul li {
          margin: 5%;
          text-align: center; } }
      @media only screen and (min-width: 200px) and (max-width: 572px) {
        nav ul li {
          text-align: center; } }
      nav ul li a {
        color: #4c5679;
        text-shadow: -2px -2px 2px #939194; }
        @media only screen and (min-width: 572px) and (max-width: 890px) {
          nav ul li a {
            color: #4c5679;
            text-shadow: -2px -2px 2px #939194; } }
        nav ul li a:focus {
          color: #939194;
          text-shadow: -2px -2px 2px #4c5679; }
          @media only screen and (min-width: 572px) and (max-width: 890px) {
            nav ul li a:focus {
              color: #939194;
              text-shadow: 2px -2px 2px #4c5679; } }

#search-character-container {
  margin: 2% 0% 0% 20%;
  border: none;
  padding: 1% 0 3%;
  text-align: center;
  width: 70%; }
  @media only screen and (min-width: 573px) and (max-width: 658px) {
    #search-character-container {
      height: 28vh;
      position: relative; } }
  #search-character-container input {
    margin: 0 auto;
    width: 45%;
    line-height: 3em;
    font-size: 1.5em;
    text-align: center;
    color: #4c5679;
    box-shadow: 5px 5px 5px #4c5679;
    border-radius: 35% 35%; }
    @media only screen and (min-width: 572px) and (max-width: 890px) {
      #search-character-container input {
        width: 70%; } }
    @media only screen and (min-width: 573px) and (max-width: 658px) {
      #search-character-container input {
        width: 100%;
        height: 18vh;
        top: 4vh;
        left: 0;
        position: absolute; } }
    @media only screen and (min-width: 200px) and (max-width: 572px) {
      #search-character-container input {
        width: 63vw;
        height: 16vh;
        font-size: 1.15em; } }
    #search-character-container input:focus {
      outline-color: none;
      background-color: #446087;
      color: #939194;
      outline: 0; }

#results-character-container {
  text-align: center;
  padding: 1%;
  line-height: 2em;
  font-size: 1.5em;
  width: 94vw; }
  #results-character-container h2 {
    font-size: 2.25em;
    line-height: 2.5em;
    text-shadow: 2px 3px 5px #446087; }
  #results-character-container ul p {
    text-decoration: underline;
    font-size: 1.25em;
    padding-top: 1%;
    text-shadow: 1px 2px 4px #446087; }
  #results-character-container li {
    text-decoration: none;
    font-size: 1em; }

#search-for-houses-container {
  text-align: center;
  margin: 0 auto;
  border: none;
  width: 100%;
  display: inline-block; }
  #search-for-houses-container p {
    text-align: center;
    margin: 0% 0% 2% 0%;
    font-size: 1.9em; }
  @media only screen and (min-width: 572px) and (max-width: 890px) {
    #search-for-houses-container {
      margin: 3% 0% 0% 0%; } }
  @media only screen and (min-width: 573px) and (max-width: 658px) {
    #search-for-houses-container {
      margin: 3% 0 3% 0;
      font-size: 2.5em; } }
  @media only screen and (min-width: 200px) and (max-width: 572px) {
    #search-for-houses-container {
      font-size: 0.9em; } }
  #search-for-houses-container #regions {
    margin: 1% -30%;
    width: 28%;
    font-size: 1.5em;
    text-align: center;
    color: #4c5679;
    outline-color: #4c5679; }
    @media only screen and (min-width: 573px) and (max-width: 658px) {
      #search-for-houses-container #regions {
        width: 41%; } }
    @media only screen and (min-width: 200px) and (max-width: 572px) {
      #search-for-houses-container #regions {
        width: 65%; } }

#house-list {
  display: block;
  margin: 1%;
  font-size: 1.5em;
  text-align: center; }
  #house-list p {
    margin: 1%; }

@media only screen and (min-width: 200px) and (max-width: 572px) {
  main {
    margin: 50vh 5vw;
    padding: 0vh 3vw 2vh; } }

#top h2 {
  text-align: center;
  font-size: 1.5em;
  margin: 2%; }

#bottom p {
  text-align: center;
  font-size: 1.25em;
  line-height: 1.75em; }

* {
  font-family: Amita, Courgette, "Fjalla One", "Open Sans Condensed", sans-serif;
  box-sizing: border-box;
  color: #797373; }

html {
  background: url(images/a-land-of-ice-and-fire-571-cropped.jpg), #939194;
  background-repeat: repeat-y;
  background-position: 0 -3%;
  background-position: contain;
  background-size: cover; }

body {
  background: #acb8d1; }

/*# sourceMappingURL=main.css.map */
